<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Resultado do IMC</title>
    <link rel="stylesheet" href="/oi.css">
</head>
<body>
  <div classa="tela1">
  <h2>Resultado do IMC</h2>
  </div>
  <div class="box">
    <p>Nome: <%= nome %></p>
    <p>Altura: <%= altura %> m</p>
    <p>Peso: <%= peso %> kg</p>
    <p>IMC: <%= imc %></p>
    <p>Classificação: <%= classificacao %></p>
  <br><a href="/oi.html">Voltar</a>
  </div>
</body>
</html>